/* if device has a touch screen */
@media (any-pointer: coarse) {
  html,
  body {
    height: 100vh;
    width: 100vw;
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
  }
}

/* if device has no touch screen */
@media (any-pointer: fine) {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 28%, hsla(39, 41%, 7%, 1) 100%);
  }
}

.searchBar {
  width: 50%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 15px;
  margin-right: 10px;
}

.searchInput {
  border: none;
  width: 88%;
  font-size: large;
  padding-left: 10px;
}

.searchInput:focus {
  outline: none;
}

.buttonInteraction {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  background-color: #353535;
  border-width: 0px;
  border-radius: 7.5px;
}

.buttonInteraction:hover {
  cursor: pointer;
  background: linear-gradient(135deg, rgba(231, 140, 25, 0.5) 10%, #353535 100%);
}

.buttonInteraction:disabled {
  cursor: not-allowed;
  background: gray
}

.buttonInteraction:hover:disabled {
  cursor: not-allowed;
  background: gray
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit (Chrome, Safari, etc.) */
}

.scrollable-div {
  background-color: none;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}


.scrollable-div-mobile::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit (Chrome, Safari, etc.) */
}

.scrollable-div-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.post {
  padding: 0.5rem;
  width: calc(100% - 3rem);
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
}

.spinning {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
